<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    
    <context:component-scan base-package="com.lebron.**"/>
    <!-- <context:property-placeholder location="classpath:*.properties" file-encoding="UTF-8" ignore-unresolvable="true"/> -->
	<context:annotation-config />
    <!-- 静态资源(js、image等)的访问 -->
    <mvc:default-servlet-handler/>

    <!-- 开启注解 -->
    <mvc:annotation-driven/>
    <!-- <import resource="classpath*:spring/spring-cas.xml"></import> -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/" />
        <property name="suffix" value=".jsp" />
    </bean>
    
	<bean name="/*.html"
		class="org.springframework.web.servlet.mvc.UrlFilenameViewController"/>  
    <bean name="/*.htm" class="org.springframework.web.servlet.mvc.UrlFilenameViewController">  
        <property name="prefix" value="/"/>  
        <property name="suffix" value=".jsp"/>  
	</bean>
 </beans>